* {
   padding: 0;
   margin: 0;
}

body {
   height: 100vh;
   background-color: #f5f5f5;
   display: flex;
   justify-content: center;
   align-items: center;
}

.choose {
   display: inline-block;
   text-align: center;
   margin: 5vw;
}

.choose:first-child {

}

.choose img {
   width: 20vw;
   filter: invert(75%);
   transition: .5s;
}

.choose:hover img {
   filter: invert(15%);
}

.choose:last-child:hover img {
   filter: invert(89%) sepia(22%) saturate(2540%) hue-rotate(355deg) brightness(103%) contrast(109%);
}

.choose:first-child:hover img {
   filter: invert(92%) sepia(10%) saturate(727%) hue-rotate(14deg) brightness(109%) contrast(105%);
}

.choose:hover p {
   opacity: 1;
}

.choose p {
   opacity: 0;
   font-size: 6vw;
   font-family: cursive;
   background-color: #ebebeb;
   padding: .5vw 2.5vw;
   border-radius: 15vh;
   color: #363636;
   transition: .5s;
}
