* {
   padding: 0;
   margin: 0;
   color: #2d2d2d;
}

body {
   background-color: #c5e3fe;
}

.home-button img {
   position: fixed;
   top: 1vh;
   left: 1vw;
   height: 10vh;
}

::-webkit-scrollbar { display: none; }

.home-content {
   display: grid;
   grid-template-areas:
   "a a a b b b c c c"
   "a a a d d d c c c"
   "e e e d d d f f f"
   "e e e g g g f f f";
}

.home-img-container:nth-child(1) { grid-area: a; background-image: url("Images/home-1.webp"); height: 43.5vh; }
.home-img-container:nth-child(2) { grid-area: b; background-image: url("Images/home-2.webp"); height: 25vh; }
.home-img-container:nth-child(3) { grid-area: c; background-image: url("Images/home-3.webp"); height: 43.5vh; }
.home-img-container:nth-child(4) { grid-area: d; background-image: url("Images/home-4.webp"); height: 35vh; }
.home-img-container:nth-child(5) { grid-area: e; background-image: url("Images/home-5.webp"); height: 43.5vh; }
.home-img-container:nth-child(6) { grid-area: f; background-image: url("Images/home-6.webp"); height: 43.5vh; }
.home-img-container:nth-child(7) { grid-area: g; background-image: url("Images/home-7.webp"); height: 25vh; }

.home-img-container {
   background-position: center;
   background-size: cover;
   margin: 2vh;
   padding: .6vh;
   border-radius: .5vh;
   display: inline-block;
   color: #2d2d2d;
   text-align: center;
   width: 28.8vw;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.home-img-container p {
   color: #2d2d2d;
   background-color: rgb(238, 238, 238, .5);
   border-radius: 2vh;
   padding: .1vh .5vw;
   font-family: "Nunito";
   width: 100%;
   height: 100%;
   font-size: 5vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.home-img-container a { text-decoration: none; }

.copyright {
   text-align: center;
   font-size: 2.5vh;
   padding: 1vh;
   color: #f5f5f5;
   border-radius: 3vh;
   margin: 2vh 2vw 4vh 2vw;
}

.copyright a {
   color: #079cb3;
}

.testimonials {
   align-items: end;
}

.blckqte-gradient {
   background: linear-gradient(to bottom right, #58DE7B, #16B9E1, #8958D3);
   padding: .6vh;
   border-radius: 2vh;
   display: inline-block;
   vertical-align: text-top;
   margin: 2vh;
}

blockquote {
   background-color: #f6f6f6;
   border-radius: 2vh;
   padding: 6vh;
   width: 15vw;
   height: 44vh;
}

.heading {
   font-size: 8vh;
   text-align: center;
   margin: 5vh;
   font-family: "Merriweather";
}

.content {
   font-family: "Merriweather";
   line-height: 1.5;
   padding: 2vh;
   margin: 2vh 2vw;
   font-size: 2.8vh;
   text-align: center;
}

.blog-content, .courses-content {
   font-family: "Merriweather";
   line-height: 1.5;
   padding: 2vh;
   margin: 0 0 0 22vw;
   font-size: 2.8vh;
   text-align: center;
   scroll-behavior: smooth;
   overflow: hidden;
}

.choose-courses div {
   margin: 2.5vh;
   height: 55vh;
   width: 35vh;
   display: inline-block;
   border-radius: 5vh;
   text-align: center;
   background-color: #dddddd;
}

.choose-courses div img {
   border-radius: 5vh;
}

.course-description, .choose-courses {
   height: 100vh;
   overflow: auto;
}

.blog-content div {
   height: 100vh;
   overflow: auto;
}

.about-header {
   border-radius: 100%;
   margin: 2vh 46vh;
   width: 40vh;
}

.blog-img {
   border-radius: 2.5vh;
   margin: 2vh 35vh;
   width: 60vh;
   transition: .3s;
}

.blog-img:hover {
   box-shadow: 0 0 1vh #000;
   transform: scale(1.05);
   animation-name: blog-wiggle;
   animation-duration: 1s;
   animation-delay: .3s;
}

@keyframes blog-wiggle {
   0% { transform: scale(1.05) rotate(0); }
   25% { transform: scale(1.05) rotate(3deg); }
   75% { transform: scale(1.05) rotate(-3deg); }
   100% { transform: scale(1.05) rotate(0); }
}

/* #03EF62 */

.gradient-nav {
   background: linear-gradient(to bottom right, #58DE7B, #16B9E1, #8958D3);
   width: 20vw;
   height: 85vh;
   margin: 12vh 2vh 3vh 2vh;
   padding: .6vh;
   border-radius: 3vh;
   position: fixed;
}

nav {
   background: #f6f6f6;
   width: 100%;
   height: 85vh;
   overflow: scroll;
   border-radius: 3vh;
}

nav a {
   color: #fff;
   text-decoration: none;
   display: grid;
   grid-template-columns: auto auto;
   font-size: 3.5vh;
   padding: 1vh 3vh;
   transition: .15s;
}

nav h4 {
   font-size: 2.7vh;
}

nav a:hover {
   background-color: #ececec;
}

nav a img {
   display: inline;
   height: 6.5vh;
   margin-right: 1.5vh;
   margin-left: -1.5vh;
   margin-bottom: -.2vh;
   transition: .15s;
}

nav a p {
   display: inline;
}

nav h2 {
   font-size: 4vh;
   color: #000;
   margin: 2.5vh 2vh;
   font-family: "Nunito";
   display: grid;
   grid-template-columns: 30% 70%;
   font-weight: 600;
}

nav h4 {
   text-transform: uppercase;
   color: #B4BAC0;
   margin: .8vh 3.5vh;
   letter-spacing: .5ch;
}
