* {
   padding: 0;
   margin: 0;
   color: #2d2d2d;
}

body {
   background-color: #eee;
}

::-webkit-scrollbar { display: none; }

.home-img-container {
   background: linear-gradient(to bottom right, #58DE7B, #16B9E1, #8958D3);
   margin: .5vh;
   padding: .6vh;
   border-radius: .5vh;
   display: inline-block;
   color: #2d2d2d;
   text-align: center;
}

.home-img-container p {
   color: #2d2d2d;
   background-color: #eee;
   border-radius: 2vh;
   padding: .1vh .5vw;
   font-family: "Nunito";
}

.gradient-nav {
   background: linear-gradient(to bottom right, #58DE7B, #16B9E1, #8958D3);
   width: 20vw;
   height: 92vh;
   margin: 3vh 2vh;
   padding: .6vh;
   border-radius: 3vh;
   position: fixed;
}

nav {
   background: #f6f6f6;
   width: 100%;
   height: 92vh;
   overflow: scroll;
   border-radius: 3vh;
}

nav img {
   height: 8vh;
}

nav a {
   color: #fff;
   text-decoration: none;
   display: block;
   font-size: 3.5vh;
   padding: 1vh 3vh;
   transition: .15s;
}

nav h4 {
   font-size: 2.7vh;
}

nav a:hover {
   background-color: #ececec;
}

nav a img {
   display: inline;
   height: 3.5vh;
   filter: invert(20%);
   margin-right: 1.5vh;
   margin-bottom: -.2vh;
   transition: .15s;
}

nav a:hover img {
   filter: invert(66%) sepia(83%) saturate(848%) hue-rotate(155deg) brightness(105%) contrast(94%);
}

nav a p {
   display: inline;
}

nav h2 {
   font-size: 4vh;
   color: #fff;
   margin: 2.5vh 2vh;
   font-family: "Nunito";
   display: grid;
   grid-template-columns: 30% 70%;
   font-weight: 600;
}

nav h4 {
   text-transform: uppercase;
   color: #B4BAC0;
   margin: .8vh 3.5vh;
   letter-spacing: .5ch;
}

.gradient-copyright {
   background: linear-gradient(to bottom right, #58DE7B, #16B9E1, #8958D3);
   padding: .6vh;
   border-radius: 3vh;
   margin: 4vh 1.2vh 4vh 22.3vw;
}

.copyright {
   background: #f6f6f6;
   text-align: center;
   font-size: 3vh;
   padding: 1vh;
   color: whitesmoke;
   border-radius: 3vh;
}

.copyright a {
   color: #079cb3;
}

.testimonials {
   align-items: end;
}

.blckqte-gradient {
   background: linear-gradient(to bottom right, #58DE7B, #16B9E1, #8958D3);
   padding: .6vh;
   border-radius: 2vh;
   display: inline-block;
   vertical-align: text-top;
   margin: 2vh;
}

blockquote {
   background-color: #f6f6f6;
   border-radius: 2vh;
   padding: 6vh;
   width: 15vw;
   height: 35vh;
}

.heading {
   font-size: 8vh;
   text-align: center;
   margin: 5vh;
   font-family: "Merriweather";
}

.content {
   font-family: "Merriweather";
   line-height: 1.5;
   padding: 2vh;
   margin: 0 0 0 22vw;
   font-size: 2.8vh;
   text-align: center;
}

.blog-content, .courses-content {
   font-family: "Merriweather";
   line-height: 1.5;
   padding: 2vh;
   margin: 0 0 0 22vw;
   font-size: 2.8vh;
   text-align: center;
   scroll-behavior: smooth;
   overflow: hidden;
}

.choose-courses div {
   margin: 2.5vh;
   height: 55vh;
   width: 35vh;
   display: inline-block;
   border-radius: 5vh;
   text-align: center;
   background-color: #dddddd;
}

.choose-courses div img {
   border-radius: 5vh;
}

.course-description, .choose-courses {
   height: 100vh;
   overflow: auto;
}

.blog-content div {
   height: 100vh;
   overflow: auto;
}

.about-header {
   border-radius: 100%;
   margin: 2vh 46vh;
   width: 40vh;
}

.blog-img {
   border-radius: 2.5vh;
   margin: 2vh 35vh;
   width: 60vh;
   transition: .3s;
}

.blog-img:hover {
   box-shadow: 0 0 1vh #000;
   transform: scale(1.05);
   animation-name: blog-wiggle;
   animation-duration: 1s;
   animation-delay: .3s;
}

@keyframes blog-wiggle {
   0% { transform: scale(1.05) rotate(0); }
   25% { transform: scale(1.05) rotate(3deg); }
   75% { transform: scale(1.05) rotate(-3deg); }
   100% { transform: scale(1.05) rotate(0); }
}

/* #03EF62 */
